/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


img{
  display: block;
  margin: 0 auto;
  height: 200px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px;
}

#war {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.hidden {
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
