/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: limegreen;
}


img{
  display: block;
  margin: 0 auto;
  height: 200px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px;
}

#war-section {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}
#war {
  cursor: pointer;
}

.hidden {
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
